 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 876px;
}

.u-section-1 .u-list-1 {
  width: 996px;
  grid-template-rows: auto auto;
  margin: 41px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 782px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/IMG_1811.jpg");
  background-position: 50% 40.9%;
  margin: 42px auto 0 30px;
}

.u-section-1 .u-text-1 {
  margin: -132px 30px 0 198px;
}

.u-section-1 .u-social-icons-1 {
  height: 25px;
  min-height: 16px;
  width: 25px;
  min-width: 16px;
  margin: -24px 117px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 19px 30px 0 198px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-weight: 700;
  margin: 20px 7px 0 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/pic1.PNG");
  background-position: 50% 24%;
  margin: 42px auto 0 30px;
}

.u-section-1 .u-text-4 {
  margin: -132px 30px 0 198px;
}

.u-section-1 .u-social-icons-2 {
  height: 25px;
  min-height: 16px;
  width: 25px;
  min-width: 16px;
  margin: -24px 117px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 19px 30px 0 198px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  font-weight: 700;
  margin: 20px 7px 0 198px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 133px;
  height: 133px;
  background-image: url("images/IMG_1292.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 30px;
}

.u-section-1 .u-text-7 {
  margin: -132px 30px 0 198px;
}

.u-section-1 .u-social-icons-3 {
  height: 25px;
  min-height: 16px;
  width: 25px;
  min-width: 16px;
  margin: -24px 117px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 19px 30px 0 198px;
}

.u-section-1 .u-text-9 {
  text-align: left;
  font-weight: 700;
  margin: 20px 7px 0 198px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 133px;
  height: 133px;
  background-image: url("images/pic2.PNG");
  background-position: 50% 50%;
  margin: 42px auto 0 30px;
}

.u-section-1 .u-text-10 {
  margin: -132px 30px 0 198px;
}

.u-section-1 .u-social-icons-4 {
  height: 25px;
  min-height: 16px;
  width: 25px;
  min-width: 16px;
  margin: -48px 117px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 43px 30px 0 198px;
}

.u-section-1 .u-text-12 {
  text-align: left;
  font-weight: 700;
  margin: 20px 7px 0 198px;
}

.u-section-1 .u-text-13 {
  width: 417px;
  text-align: center;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 409px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 2px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -74px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -121px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 807px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -150px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 145px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -74px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -146px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
  }
}