 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(241,181,184,0.45), rgba(241,181,184,0.45)), url("images/businesswomen.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-group-1 {
  width: 984px;
  min-height: 410px;
  margin: 121px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 8.125rem;
  background-image: none;
  text-shadow: 3px 5px 8px rgba(26,26,26,1);
  font-weight: 700;
  margin: 33px -102px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-group-1 {
    width: 929px;
    min-height: 427px;
    margin-top: 48px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
    width: auto;
    margin: 64px 0 -21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 24px;
    margin-bottom: 24px;
    min-height: 360px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1126px;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 583px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-size: 2.8125rem;
  font-weight: 700;
  margin: 0 104px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 411px;
  height: 15px;
  margin: 23px auto 0 26px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 26px 104px 0 13px;
}

.u-section-2 .u-image-1 {
  min-height: 583px;
  background-image: url("images/4441.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    width: auto;
    margin-right: 25px;
    margin-left: -14px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 748px;
    margin: 21px auto 21px -28px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 21px;
    margin-right: 65px;
    margin-left: 7px;
  }

  .u-section-2 .u-shape-1 {
    width: 319px;
    margin-top: 21px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.0625rem;
    margin-top: 13px;
    margin-right: 59px;
    margin-left: 21px;
  }

  .u-section-2 .u-image-1 {
    min-height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 21px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 338px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 228px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1106px;
  margin: 22px auto 22px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 205px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.8125rem;
  margin: 7px 0 0 151px;
}

.u-section-3 .u-icon-1 {
  width: 104px;
  height: 104px;
  margin: -134px auto 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 991px;
    margin-bottom: 0;
    margin-left: -35px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 25px;
    margin-right: 1px;
    margin-left: 157px;
  }

  .u-section-3 .u-icon-1 {
    width: 96px;
    height: 96px;
    margin-top: -112px;
    margin-bottom: 0;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 749px;
    margin-left: -29px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-right: -1px;
    margin-left: 126px;
  }

  .u-section-3 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: -80px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -134px;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 228px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1106px;
  margin: 22px auto 22px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 205px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.8125rem;
  margin: 7px 0 0 151px;
}

.u-section-4 .u-icon-1 {
  width: 104px;
  height: 104px;
  margin: -134px auto 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 1009px;
    margin: 19px -35px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-left: 157px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -112px;
    margin-bottom: 8px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 749px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: -29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 6px;
    margin-right: 1px;
    margin-left: 124px;
  }

  .u-section-4 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: -81px;
    margin-bottom: 0;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -134px;
    margin-bottom: 8px;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 236px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1123px;
  margin: 11px 0 11px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 234px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.8125rem;
  margin: 14px 17px 0 131px;
}

.u-section-5 .u-icon-1 {
  width: 104px;
  height: 104px;
  margin: -117px auto 13px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 1009px;
    margin: 19px -35px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 150px;
  }

  .u-section-5 .u-icon-1 {
    width: 99px;
    height: 99px;
    margin-top: -105px;
    margin-bottom: 0;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 752px;
    margin: 15px auto 0 -32px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 131px;
  }

  .u-section-5 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: -77px;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -177px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 236px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1123px;
  margin: 11px 0 11px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 234px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.8125rem;
  margin: 14px 17px 0 131px;
}

.u-section-6 .u-icon-1 {
  width: 98px;
  height: 98px;
  margin: -117px auto 19px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 1009px;
    margin: 19px -35px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 150px;
  }

  .u-section-6 .u-icon-1 {
    width: 99px;
    height: 99px;
    margin-top: -105px;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 754px;
    margin-right: auto;
    margin-left: -34px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
    margin-right: -1px;
    margin-left: 135px;
  }

  .u-section-6 .u-icon-1 {
    width: 70px;
    height: 70px;
    margin-top: -75px;
    margin-bottom: 0;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -177px;
    margin-bottom: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 236px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1123px;
  margin: 11px 0 11px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 234px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.8125rem;
  margin: 14px 17px 0 131px;
}

.u-section-7 .u-icon-1 {
  width: 90px;
  height: 90px;
  margin: -110px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 1009px;
    margin: 19px -35px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 0;
    margin-right: 7px;
    margin-left: 150px;
  }

  .u-section-7 .u-icon-1 {
    width: 99px;
    height: 99px;
    margin-top: -105px;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 755px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-7 .u-icon-1 {
    width: 68px;
    height: 68px;
    margin-top: -71px;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -177px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}