 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(219,84,90,0.4), rgba(219,84,90,0.4)), url("images/KLGWNDYR2VHHJF64FN2ATT2AQI.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 401px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 9.375rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 96px 14px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-1 {
    font-weight: bold;
    margin-right: 58px;
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 83px 21px 0;
}

.u-section-2 .u-slider-1 {
  min-height: 484px;
  width: 763px;
  height: auto;
  margin: 21px auto 34px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-2 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/Woman_1.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 10px 62px 0 98px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 177px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-carousel-item-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 31px;
}

.u-section-2 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/3500.jpg");
  background-position: 50% 50%;
  text-align: center;
  margin: 0 290px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  text-align: center;
  margin: 58px 0 0 39px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-align: center;
  margin: 21px 211px 0 250px;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 102px;
  margin: 0 auto;
}

.u-section-2 .u-carousel-item-3 {
  margin-left: 273px;
  margin-right: 288px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 120px;
  height: 120px;
  background-image: url("images/AI-thispersondoesnotexist.jpg");
  background-position: 50% 50%;
  text-align: center;
  margin: 60px auto 0 55px;
}

.u-section-2 .u-text-8 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0 349px 0 -184px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  text-align: center;
  margin: 21px 559px 0 25px;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: -19px auto 0 89px;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 36px;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 114px;
    margin-left: 150px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 247px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 384px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 41px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 194px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 164px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 343px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 153px;
  }

  .u-section-2 .u-image-3 {
    width: -21px;
    height: -21px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    min-height: 143px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-2 {
    margin-right: 200px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 70px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 94px;
  }

  .u-section-2 .u-image-3 {
    width: -221px;
    height: -221px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -72px;
  }
}