 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(219,84,90,0.4), rgba(219,84,90,0.4)), url("images/Virginia-Tech-Torgersen-Hall.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 93px 119px 0 -50px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 761px;
  margin: 38px 0 56px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 370px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -15px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 369px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  align-self: center;
  margin: 15px auto 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 133px;
    margin-left: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 33px;
    margin-left: 109px;
    width: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 2px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 23px auto 47px -13px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 100px;
  height: 99px;
  margin: -3px 60px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -53px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 231px;
  height: 18px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 47px 0 73px;
}

.u-section-2 .u-image-2 {
  min-height: 431px;
  background-image: url("images/image1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 60px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 60px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-image-2 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -53px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 873px;
}

.u-section-3 .u-image-1 {
  width: 140px;
  height: 140px;
  margin: 20px auto 0 -28px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 890px;
  margin: -20px auto 0 125px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 593px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-3 .u-image-2 {
  width: 213px;
  height: 213px;
  background-image: url("images/IMG_1811.jpg");
  background-position: 50% 21.27%;
  margin: -95px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 13px 0;
}

.u-section-3 .u-social-icons-1 {
  height: 25px;
  min-height: 16px;
  width: 62px;
  min-width: 44px;
  margin: 47px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 593px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin-top: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-3 .u-image-3 {
  width: 140px;
  height: 140px;
  margin: -47px 14px 47px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: -70px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-left: -28px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -20px;
    margin-left: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 460px;
    margin-left: 300px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 594px;
}

.u-section-4 .u-list-1 {
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 474px;
  grid-gap: 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-4 .u-text-1 {
  margin: 0 13px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 40px 13px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 27px auto 0;
  padding: 22px 43px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 17px;
}

.u-section-4 .u-text-3 {
  margin: 0 13px;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  margin: 40px 13px 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 27px auto 0;
  padding: 22px 43px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-4 .u-text-5 {
  margin: 0 13px;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  margin: 40px 13px 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 27px auto 0;
  padding: 22px 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    padding-right: 17px;
    padding-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}