 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(241,181,184,0.4), rgba(241,181,184,0.4)), url("images/WQ44WAPOGVBLPNIOVIYHEMRYY4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 437px;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 150px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 130px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 347px;
}

.u-section-2 .u-image-1 {
  width: 321px;
  height: 321px;
  background-image: url("images/200814210354-virginia-tech-campus-stock.jpg");
  background-position: 50% 50%;
  margin: 23px 41px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: -283px 474px 0 89px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 32px 466px 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 298px;
    margin-left: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 143px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 19px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 197px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 27px 77px 0 326px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 112px;
  height: 112px;
  margin: -128px auto 16px 148px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-left: 93px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 150px;
}

.u-section-4 .u-icon-1 {
  width: 92px;
  height: 92px;
  margin: 12px auto 0 163px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  text-align: center;
  margin: -84px 54px 54px 349px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-top: -52px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -19px;
    margin-right: 0;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-top: -14px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -57px;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-icon-1 {
    margin-top: 62px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -133px;
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 202px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px 77px 0 326px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  width: 101px;
  height: 101px;
  margin: -122px auto 21px 160px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 101px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 182px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 19px 105px 0 298px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  width: 78px;
  height: 78px;
  margin: -115px auto 37px 172px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 5px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 108px;
  }
}