.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: justify;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  font-size: 1.25rem;
  text-align: justify;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  text-align: center;
  margin: 37px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: 41px auto 60px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}